<!-- following design guideline https://clarity.design/angular-components/login/api/ -->
<div class="login-wrapper">
    <form class="login">
        <div class="login-group">
            <clr-select-container>
                <label class="clr-sr-only">Category</label>
                <select clrSelect name="category" [(ngModel)]="newUser.category">
                    <option value="Reviewer">Reviewer</option>
                    <option value="Restaurateur">Restaurateur</option>
                </select>
            </clr-select-container>
            <clr-input-container>
                <label class="clr-sr-only">Your full name</label>
                <input type="text" name="name" clrInput placeholder="Full Name" [(ngModel)]="newUser.name" />
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="email" name="email" clrInput placeholder="Email" [(ngModel)]="newUser.email" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="Password" clrPassword placeholder="Password" [(ngModel)]="newUser.Password" />
            </clr-password-container>
            <div *ngIf="error" class="error active"> {{error}} </div>
            <button (click)="signup()" type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>